<div class="main-layout">
  <div class="chat-container">
    <div class="header">
      <h1>Arbeitsmarktdaten.Chatbot</h1>
      <button class="reset-button" (click)="resetChat()">Neuen Chat starten</button>
    </div>


    <div class="chat-box">
      <div *ngFor="let message of messages" class="message"
           [ngClass]="{ 'user': message.sender === 'user', 'bot': message.sender === 'bot' }">
        <span>{{ message.text }}</span>
      </div>
    </div>
    <div class="input-box">
      <input [(ngModel)]="userInput" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>

  <div class="chat-history">
    <h3>Vergangene Konversationen</h3>
    <ul>
      <li *ngFor="let chat of allConversations" (click)="continueConversation(chat.id)">
        Chat {{ chat.id }}
      </li>
    </ul>
  </div>
</div>
